{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Meyawo landing page.">
    <meta name="author" content="Devcrud">
    <title>Portfolio | Robiya</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'assets/vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap + Meyawo main styles -->
    <link rel="stylesheet" href="{% static 'assets/css/meyawo.css' %}">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home" style="scroll-behavior: smooth">

<!-- Page Navbar -->
<nav class="custom-navbar" data-spy="affix" data-offset-top="20">
    <div class="container">
        <a class="logo" href="#">Portfolio</a>
        <ul class="nav">
            <li class="item">
                <a class="link" href="#home">Home</a>
            </li>
            <li class="item">
                <a class="link" href="#about">About</a>
            </li>
            <li class="item">
                <a class="link" href="#portfolio">Portfolio</a>
            </li>
            <li class="item">
                <a class="link" href="#testmonial">Testmonial</a>
            </li>

            <li class="item">
                <a class="link" href="#contact">Contact</a>
            </li>
            {#            <li class="item ml-md-3">#}
            {#                <a href="{% url 'components' %}" class="btn btn-primary">Components</a>#}
            {#            </li>#}
        </ul>
        <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </a>
    </div>
</nav><!-- End of Page Navbar -->

<!-- page header -->
<header id="home" class="header">
    <div class="overlay"></div>
    <div class="header-content container">
        <h1 class="header-title">
            <span class="up">HI!</span>
            <span class="down">I am {{ user.first_name }} {{ user.last_name }}</span>
        </h1>
        <p class="header-subtitle">{{ user.profession }}</p>

        <a href="{{ user.github }}" class="btn btn-primary">Visit My Works</a>
    </div>
</header><!-- end of page header -->

<!-- about section -->
<section class="section pt-0" id="about" >
    <!-- container -->
    <div class="container text-center">
        <!-- about wrapper -->
        <div class="about">
            <div class="about-img-holder">
                <img src="{{ user.image.url }}" class="about-img"
                     alt=''>
            </div>
            <div class="about-caption">
                <p class="section-subtitle">Who Am I ?</p>
                <h2 class="section-title mb-3">About Me</h2>
                <p>{{ user.bio }}
                </p>
                {#                <button class="btn-rounded btn btn-outline-primary mt-4">Download CV</button>#}
            </div>
        </div><!-- end of about wrapper -->
    </div><!-- end of container -->
</section> <!-- end of about section -->

<!-- service section -->
<section class="section" id="service">
    <div class="container text-center">
        <p class="section-subtitle">What I Do ?</p>
        <h6 class="section-title mb-6">Skills</h6>
        <!-- row -->
        <div class="row justify-content-center">
            {% for foo in user.service.all %}
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="{% static 'assets/imgs/startup.svg' %}"
                                 alt="no image"
                                 class="icon">
                            <h6 class="title">{{ foo.name }}</h6>
                            <p class="subtitle">{{ foo.desc }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}


        </div><!-- end of row -->
    </div>
</section><!-- end of service section -->

<!-- portfolio section -->
<section class="section" id="portfolio">
    <div class="container text-center">
        <p class="section-subtitle">What I Did ?</p>
        <h6 class="section-title mb-6">Portfolio</h6>
        <!-- row -->
        <div class="row justify-content-center">
            {% for project in user.projects %}

                <div class="col-md-4">
                    <a href="{{ project.url }}" class="portfolio-card">
                        <img src="{{ project.image.url }}" class="portfolio-card-img" style="height: 200px"
                             alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>{{ project.name }}</h4>
                            </span>
                        </span>
                    </a>
                </div>
            {% endfor %}


        </div><!-- end of row -->
    </div><!-- end of container -->
</section> <!-- end of portfolio section -->

<!-- pricing section -->
{#    <section class="section" id="pricing">#}
{#        <div class="container text-center">#}
{#            <p class="section-subtitle">How Much I Charge ?</p>#}
{#            <h6 class="section-title mb-6">My Pricing</h6>#}
{#            <!-- row -->#}
{#            <div class="pricing-wrapper">#}
{#                <div class="pricing-card">#}
{#                    <div class="pricing-card-header">#}
{#                        <img class="pricing-card-icon" src="{% static "assets/imgs/scooter.svg" %}"#}
{#                            alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">#}
{#                    </div>#}
{#                    <div class="pricing-card-body">#}
{#                        <h6 class="pricing-card-title">Free</h6>#}
{#                        <div class="pricing-card-list">#}
{#                            <p>accusamus reprehenderit</p>#}
{#                            <p>provident dolorem </p>#}
{#                            <p>quos neque</p>#}
{#                            <p>fugiat quibusdam</p>#}
{#                            <p><i class="ti-close"></i></p>#}
{#                            <p><i class="ti-close"></i></p>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="pricing-card-footer">#}
{#                        <span>$</span>#}
{#                        <span>0.00/Month</span>#}
{#                    </div>#}
{#                    <a href="#" class="btn btn-primary mt-3 pricing-card-btn">Subscribe</a>#}
{#                </div>#}
{#                <div class="pricing-card">#}
{#                    <div class="pricing-card-header">#}
{#                        <img class="pricing-card-icon" src="{% static "assets/imgs/shipped.svg" %}"#}
{#                            alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">#}
{#                    </div>#}
{#                    <div class="pricing-card-body">#}
{#                        <h6 class="pricing-card-title">Basic</h6>#}
{#                        <div class="pricing-card-list">#}
{#                            <p>accusamus reprehenderit</p>#}
{#                            <p>provident dolorem </p>#}
{#                            <p>quos neque</p>#}
{#                            <p>fugiat quibusdam</p>#}
{#                            <p>accusamus laboriosam</p>#}
{#                            <p><i class="ti-close"></i></p>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="pricing-card-footer">#}
{#                        <span>$</span>#}
{#                        <span>9.99/Month</span>#}
{#                    </div>#}
{#                    <a href="#" class="btn btn-primary mt-3 pricing-card-btn">Subscribe</a>#}
{#                </div>#}
{#                <div class="pricing-card">#}
{#                    <div class="pricing-card-header">#}
{#                        <img class="pricing-card-icon" src="{% static "assets/imgs/startup.svg" %}"#}
{#                            alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">#}
{#                    </div>#}
{#                    <div class="pricing-card-body">#}
{#                        <h6 class="pricing-card-title">Premium</h6>#}
{#                        <div class="pricing-card-list">#}
{#                            <p>accusamus reprehenderit</p>#}
{#                            <p>provident dolorem </p>#}
{#                            <p>quos neque</p>#}
{#                            <p>fugiat quibusdam</p>#}
{#                            <p>accusamus laboriosam</p>#}
{#                            <p>inventore omnis</p>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="pricing-card-footer">#}
{#                        <span>$</span>#}
{#                        <span>99.9/Month</span>#}
{#                    </div>#}
{#                    <a href="#" class="btn btn-primary mt-3 pricing-card-btn">Subscribe</a>#}
{#                </div>#}
{##}
{#            </div><!-- end of pricing wrapper -->#}
{#        </div> <!-- end of container -->#}
{#    </section><!-- end of pricing section -->#}

<!-- section -->
<section class="section-sm bg-primary">
    <!-- container -->
    <div class="container text-center text-sm-left">
        <!-- row -->
        <div class="row align-items-center">
            <div class="col-sm offset-md-1 mb-4 mb-md-0">
                <h6 class="title text-light">Want to work with me?</h6>
                <p class="m-0 text-light">Always feel Free to Contact & Hire me</p>
            </div>
            <div class="col-sm offset-sm-2 offset-md-3">
                <a href="{{ user.telegram }}" class="btn btn-lg my-font btn-light rounded">Hire Me</a>
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</section> <!-- end of section -->

<!-- testimonial section -->
<section class="section" id="testmonial">
    <div class="container text-center">
        <p class="section-subtitle">What Think Client About Me ?</p>
        <h6 class="section-title mb-6">Testmonial</h6>

        <!-- row -->
        <div class="row justify-content-between">
            {% for feedback in user.feedbacks %}
                <div class="col-md-6">
                    <div class="testimonial-card">
                        <div class="testimonial-card-img-holder">
                            <img src="{{ feedback.u_image.url }}" class="testimonial-card-img"
                                 alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                        </div>
                        <div class="testimonial-card-body">
                            <p class="testimonial-card-subtitle">{{ feedback.text|safe }}</p>
                            <h6 class="testimonial-card-title">{{ feedback.u_firstname }} {{ feedback.u_lastname }}</h6>
                        </div>
                    </div>
                </div>
            {% endfor %}


        </div>
    </div> <!-- end of container -->
</section> <!-- end of testimonial section -->

<!-- blog section -->
{#    <section class="section" id="blog">#}
{#        <!-- container -->#}
{#        <div class="container text-center">#}
{#            <p class="section-subtitle">Recent Posts?</p>#}
{#            <h6 class="section-title mb-6">Blog</h6>#}
{#            <!-- blog-wrapper -->#}
{#            <div class="blog-card">#}
{#                <div class="blog-card-header">#}
{#                    <img src="{% static "assets/imgs/img-1.jpg" %}" class="blog-card-img"#}
{#                        alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">#}
{#                </div>#}
{#                <div class="blog-card-body">#}
{#                    <h5 class="blog-card-title">Consectetur adipisicing elit</h6>#}
{##}
{#                        <p class="blog-card-caption">#}
{#                            <a href="#">By: Admin</a>#}
{#                            <a href="#"><i class="ti-heart text-danger"></i> 234</a>#}
{#                            <a href="#"><i class="ti-comment"></i> 123</a>#}
{#                        </p>#}
{#                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet nesciunt qui sit velit#}
{#                            delectus voluptates, repellat ipsum culpa id deleniti. Rerum debitis facilis accusantium#}
{#                            neque numquam mollitia modi quasi distinctio.</p>#}
{##}
{#                        <p><b>Necessitatibus nihil impedit! Ex nisi eveniet, dolor aliquid consequuntur repudiandae.</b>#}
{#                        </p>#}
{#                        <p>Magnam in repellat enim harum omnis aperiam! Explicabo illo, commodi, dolor blanditiis#}
{#                            cupiditate harum nisi vero accusamus laudantium voluptatibus dolores quae obcaecati.</p>#}
{##}
{#                        <a href="#" class="blog-card-link">Read more <i class="ti-angle-double-right"></i></a>#}
{#                </div>#}
{#            </div><!-- end of blog wrapper -->#}
{##}
{#            <!-- blog-wrapper -->#}
{#            <div class="blog-card">#}
{#                <div class="blog-card-header">#}
{#                    <img src="{% static "assets/imgs/img-2.jpg" %}" class="blog-card-img"#}
{#                        alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">#}
{#                </div>#}
{#                <div class="blog-card-body">#}
{#                    <h5 class="blog-card-title">Explicabo illo</h6>#}
{##}
{#                        <p class="blog-card-caption">#}
{#                            <a href="#">By: Admin</a>#}
{#                            <a href="#"><i class="ti-heart text-danger"></i> 456</a>#}
{#                            <a href="#"><i class="ti-comment"></i> 264</a>#}
{#                        </p>#}
{##}
{#                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit excepturi laborum enim,#}
{#                            vitae ipsam atque eum, ad iusto consequuntur voluptas, esse doloribus. Perferendis porro#}
{#                            quisquam vitae exercitationem aliquid, minus eos laborum repudiandae, cumque debitis iusto#}
{#                            omnis praesentium? Laborum placeat sit adipisci illum tempore maxime, esse qui quae?#}
{#                            Molestias excepturi corporis similique doloribus. Esse vitae earum architecto nulla non#}
{#                            dolores illum at perspiciatis quod, et deleniti cupiditate reiciendis harum facere, delectus#}
{#                            eum commodi soluta distinctio sit repudiandae possimus sunt. Ipsum, rem.</p>#}
{##}
{#                        <a href="#" class="blog-card-link">Read more <i class="ti-angle-double-right"></i></a>#}
{#                </div>#}
{#            </div><!-- end of blog wrapper -->#}
{##}
{#        </div><!-- end of container -->#}
{#    </section><!-- end of blog section -->#}

<!-- contact section -->
<section class="section" id="contact">
    <div class="container text-center">
        <p class="section-subtitle">How can you communicate?</p>
        <h6 class="section-title mb-5">Contact Me</h6>
        <!-- contact form -->
        <form action="{% url 'index' %}" method="post" class="contact-form col-md-10 col-lg-8 m-auto">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <input type="text" size="50" class="form-control" placeholder="Your Name" name="name" required>
                </div>
                <div class="form-group col-sm-6">
                    <input type="email" class="form-control" placeholder="Enter Email" name="email" requried>
                </div>
                <div class="form-group col-sm-12">
                        <textarea name="message" id="comment" rows="6" class="form-control"
                                  placeholder="Write Something"></textarea>
                </div>
                <div class="form-group col-sm-12 mt-3">
                    <input type="submit" value="Send Message" class="btn btn-outline-primary rounded">
                </div>
            </div>
        </form><!-- end of contact form -->
    </div><!-- end of container -->
</section><!-- end of contact section -->

<!-- footer -->

<!-- core  -->
<script src="{% static "assets/vendors/jquery/jquery-3.4.1.js" %}"></script>
<script src="{% static "assets/vendors/bootstrap/bootstrap.bundle.js" %}"></script>

<!-- bootstrap 3 affix -->
<script src="{% static "assets/vendors/bootstrap/bootstrap.affix.js" %}"></script>

<!-- Meyawo js -->
<script src="{% static "assets/js/meyawo.js" %}"></script>

</body>

</html>